# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode

# bundle
/**/*.d.ts
/**/*.js

# test
!/test/**/*.js

# types
!/types/**/*.d.ts

# misc
.DS_Store
npm-debug.log
yarn-error.log
/**/npm-debug.log

# tests
/coverage
/.nyc_output